body{
    background-color :bisque;
    text-align: center;
    }
table{
    /*border: 1px solid black;*/
    width: 60%;
    margin: auto;
    font-size: 1.5;
    }
td{
    border-bottom: 1px solid blue;
    }